/* ----------------- Global Styles ----------------- */

* {
    box-sizing: border-box;
}


/* ----------------- Font Styles ----------------- */



/* ----------------- Start Screen ----------------- */

.startContainer > * {
    text-align: center;
}

.startContainer {
    display:inline-block;
    width:75%;
}


body {
    background: linear-gradient(to right, #2B120A, #001839);
    
}

p {
    font-size: 48px;
    color: slategray;
    font-weight: bolder;
    text-align: center;
}

.gameOver1 {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gameOver2 {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gameOver3 {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    height: 50vh;
    width: 49.5%;
    border: 5px grey solid;
    border-radius:25px;
}

.buttonContainer {}

button {
    display: inline-block;
    background-color: red;
    color: black;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    /* margin-left:45%; */
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
    font: 14px bold;
}

span {
    position: absolute;
    margin-top: 10px;
    font-size: 34px;
    font-weight: bolder;
    /* z-index:1; */
}

.lifeContainer {
    display: inline-block;
    /* float:bottom; */
    width: 49%;
    height: 100px;
    border: 2px solid tomato;
    border-radius: 25px;
    text-align: center;
}

.axeLifeBar {
    height: 100%;
    background: linear-gradient(to right, red, yellow);
    width: 100%;
    text-align: center;
    font-size: 50px;
    transition: 1s all ease;
    border-radius: 25px;
}

.enemyLifeBar {
    height: 100%;
    background: linear-gradient(to right, purple, blue);
    width: 100%;
    text-align: center;
    font-size: 50px;
    transition: 1s all ease;
    border-radius: 25px;
}

/* Combat Log */

.combatLog {
   
    display: inline-block;
    vertical-align:top;
    background-color: #070707;
    background-image: url("http://www.hdwallpaper.nu/wp-content/uploads/2015/02/dota_2_logo_wallpaper_download.jpg");
    border: 5px solid slategrey;
    width: 24%;
    height: 99vh;
    border-radius: 25px;
    overflow: scroll;
}

.combatHeader {

    border-bottom: 5px solid slategray;
}

.combatInfo {
    font-size: 20px;
}

.combatInfo:nth-child(even)  {
    color:blue;
    text-align:left;
    padding: 0 20%;
}

.combatInfo:nth-child(odd) {
    color: red;
    text-align:right;
    padding: 0 20%;

}

/* .axeCombatInfo {
    color: red;
}

.svenCombatInfo {
    color: blue;
} */